* {
  margin: 20px 0;
  font-size: 18px;
  background-color: rgb(236, 174, 98);
}
.App {
  text-align: center;
  
  
}

.messages {
  border: 3px dotted white;
  width: 50%;
  margin: auto;
  font-weight: bolder;

}

input {
  border: none;
  background-color: rgb(161, 62, 5);
  padding: 18px;
  margin: 20px;
  font-size: larger;
  color: white;
  text-align: center;
  border-radius: 4px;
  
}


